.header{
    width: 80%;
    height: 300px;
    margin-left: 10%;
    margin-right: 10%;
}

.header-img{
    width: 1000px;
    height: 300px;
}

.artical {
    width: 600px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    /*background: red;*/
}

.artical-header{
    width: 600px;
    height: 50px;
}

.artical-title {
    font-size: 30px;
    font-weight: 500;
    color: #555;
    text-align: center;
    border-bottom: none;
    line-height: 1.2;
}

.artical-body {
    width: 588px;
    height: 388px;
    padding: 5px;
    border: 1px solid #999;
}

.artical-body-tag{
    width: 300px;
    height: 40px;
    margin-left: 40px;
    margin-top: 300px;
    background: red;
}