{% extends "blog/base.html" %}
{% load djangomarkdown %}
{% block title %}
    <title>关于我 | 追逐繁星的孩子</title>
{% endblock %}
{% block active_aboutme %}
    active
{% endblock %}
{% block box-right %}
    <div class="box-right">
        <div class="aboutme">
        <header class="title">关于我</header>
        <hr/>
        <p style="font-size: 17px"><b>人生苦短——我用Python</b></p>
            <br>
        <p><b>Name : ChenJie</b></p>
        <p><b>At : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HangZhou</b></p>
        <p><b>QQ : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;614867000</b></p>
        <p><b>Mail : &nbsp;&nbsp;&nbsp;yasinasama01@gmail.com</b></p>
        <p><b>Site : &nbsp;&nbsp;&nbsp;&nbsp;yasina.me</b></p>
            <br>
        <p style="font-size: 17px"><b>爱动漫·喜萝莉·DO IT</b></p>
        <p style="text-align: right;margin-bottom: 50px">——About Me</p>
        </div>
    </div>
{% endblock %}
