{% extends "blog/base.html" %}
{% load djangomarkdown %}
{% block title %}
    <title>关于我 | 追逐繁星的孩子</title>
{% endblock %}
{% block active_aboutme %}
    active
{% endblock %}
{% block box-right %}
    <div class="box-right">
        <div class="aboutme">
        <header class="title">关于我</header>
        <hr/>
        <p>不知从何时起，不再计算自己的年龄。</p>
        <p style="margin-bottom: 5px">某人：陈杰啊！今年多大啦！~~</p>
        <p style="margin-top: 5px">我：哦！我93哒！~~</p>
        <p>为何？其一我不清楚该答虚岁或是周岁（算这个真的很麻烦）。当然最主要的原因是我不敢相信93年的我居然25岁了！或许….只是不想承认“90后”这个代表着年轻活力的词渐渐退出历史舞台。甚至沦为00后、10后口中的叔辈称谓！！</p>
        <p style="margin-bottom: 5px">某00后：大叔，都25了，女朋友呐？</p>
        <p style="margin-top: 5px">我：…….（mmp）!</p>
        <p>2016年6月，大学毕业。四年不算精彩纷呈，也并非黯淡无色。若要形容自己，仅 动漫控、技术控、萝莉控、曾经的游戏控而已。（啧~死肥宅？）（咦？我西服哪去了？）</p>
        <p style="font-size: 18px;font-weight: bold">动漫控</p>
        <p>真正接触动漫在高二。《架向星空之桥》入宅，从此动漫成为生活中一部分。为什么那么喜欢？二次元那么美好，我凭什么不喜欢？宫崎骏的童真，新海诚的现实，新房的意识流，老虚的…..好像不太对。Key社三部曲、花名、AB、小圆、ef、k-on、刀剑、超炮、巨人、龙虎、中二、冰菓…..激动了！</p>
	    <p style="font-size: 18px;font-weight: bold">技术控</p>
        <p>我热爱技术，热爱它带给我的便利和惊喜。况且时代正好，互联网技术前所未有的发展，没理由不跟着 “瞎起哄” 吧！况且，你丫的就是干这行的，还扯什么大道理！</p>
	    <p style="font-size: 18px;font-weight: bold">萝莉控</p>
        <p>并不是hentai哦！我喜欢小孩，尤其是那种长得萌还会卖萌的萝莉，那真是血包妥妥的不够用。有此萝莉相陪，想必不再有心烦意乱的时候。所以，关于孩子我一直坚持要女儿（我相信一定是萝莉），所以——得赶快找个妹子了！</p>
	    <p style="font-size: 18px;font-weight: bold">曾经的游戏控</p>
        <p>初一，作为期末考试奖励，到手人生中第一台电脑。从此一入游戏深似海。从WAR3、红警、CS到泡泡堂、卡丁车到腾讯游戏全家桶最后到DOTA2。随着游戏的更新迭代，人也渐渐成熟。现在，只会陪着朋友偶尔开场DOTA2罢了。若问为何？仅仅因为，我已不再年轻！</p>
        <p>青春不再！勿留遗憾！</p>
        <p style="text-align: right;margin-bottom: 50px">——About Me</p>
        </div>
    </div>
{% endblock %}

