<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/index.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/codelight.css' %}"/>
    <script src="{% static 'blog/javascripts/jquery.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'blog/javascripts/bootstrap.min.js' %}" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="box">
    <div class="box-left">
        <div class="box-left-header">
            <span>追逐繁星的孩子</span>
            <p>お帰りなさい</p>
        </div>
        <a href="{% url 'mainpage' %}" class="list-group-item {% block active_main %}{% endblock %}">首页</a>
        <a href="{% url 'tag' %}" class="list-group-item {% block active_tag %}{% endblock %}">标签</a>
        <a href="{% url 'archive' %}" class="list-group-item {% block active_archive %}{% endblock %}">归档</a>
        <a href="{% url 'category' %}" class="list-group-item {% block active_category %}{% endblock %}">分类</a>
        <a href="{% url 'aboutme' %}" class="list-group-item {% block active_aboutme %}{% endblock %}">关于</a>
        <div class="author-info">
            <div class="author-intr">
                <img src="{% static 'blog/images/headImage.jpg' %}" width="120px" height="120px"/>
                <p>雷姆kwy</p>
            </div>
            <div class="author-articles-items">
                <a href="{% url 'archive' %}">
                    <div>{{ paginator.count }}</div>
                    <p>文章</p>
                </a>
                <a href="{% url 'category' %}">
                    <div>{{ categories|length }}</div>
                    <p>分类</p>
                </a>
                <a href="{% url 'tag' %}">
                    <div>{{ tags|length }}</div>
                    <p>标签</p>
                </a>
            </div>
            <div class="rss">
                <a href="{% url 'RSS' %}">RSS</a>
            </div>
            <div class="author-sites-items">
                <div class="github">
                    <a href="https://github.com/yasinasama" target="_blank">
                        <img src="{% static 'blog/images/github.png' %}"> GitHub </a>
                </div>
                <div class="facebook">
                    <a href="https://www.facebook.com/profile.php?id=100015894214871" target="_blank">
                        <img src="{% static 'blog/images/facebook.png' %}"> Facebook </a>
                </div>
            </div>
        </div>
    </div>
    <div class="box-right-header"></div>
    {% block box-right %}
    {% endblock %}
</div>
<footer class="footer">
    <div class="footer-left"></div>
    <div class="footer-right">
        <p><span class="glyphicon glyphicon-home"></span> Powered By <a href="https://www.djangoproject.com/" target="_blank">Django</a> & <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>!</p>
        <span><span class="glyphicon glyphicon-user"></span> Contributor: feng</span>
    </div>
</footer>
</body>
<script>
    var b2h = $(".author-info").position().top;
    $(window).scroll(function () {
        if ($(document).scrollTop() > b2h) {
            $(".author-info").css({"position": "fixed", "top": 0})
        }
        if ($(document).scrollTop() <= b2h) {
            $(".author-info").css({"position": ""})
        }
    })
</script>
{% block js %}
{% endblock %}
</html>