{% extends "blog/base.html" %}
{% load djangomarkdown %}
{% block title %}
    <title>{{ current_artical.title }} | 追逐繁星的孩子</title>
{% endblock %}
{% block box-right %}
    <div class="box-right">
        <div class="boxs">
            <div class="title">
                <span>{{ current_artical.title }}</span>
            </div>
            <div class="info">
                <span><span class="glyphicon glyphicon-edit"></span> &nbsp;发表于 </span><span>{{ current_artical.createtime|date:'Y-m-d' }}</span> &nbsp;&nbsp;| &nbsp;&nbsp;<span class="glyphicon glyphicon-tag"></span> &nbsp;分类于 <a href="{% url 'tag_articals' current_artical.tag %}">{{ current_artical.tag }}</a>
            </div>
            <div class="pic">
                <img style="width: 600px;height: 400px;margin: auto" src="{{ current_artical.image.url }}">
            </div>
            <div class="markdown">
                <p>{{ current_artical.content|djangomarkdown|safe }}</p>
            </div>

            <br/>
        </div>
        <hr/>
        <div class="boxs-footer">
            {% if previos_artical %}
                <a class='post-nav-next' href="{% url 'detail' previos_artical.title %}" style="float: left;"><span class="glyphicon glyphicon-chevron-left"></span> {{ previos_artical.title }}</a>
            {% endif %}
            {% if later_artical %}
                <a class='post-nav-next' href="{% url 'detail' later_artical.title %}" style="float: right;">{{ later_artical.title }} <span class="glyphicon glyphicon-chevron-right"></span></a>
            {% endif %}

        </div>
    </div>
{% endblock %}


