{% extends "blog/base.html" %}
{% load djangomarkdown %}
{% load i18n %}

{% block title %}
    <title>追逐繁星的孩子</title>
{% endblock %}
{% block active_main %}
    active
{% endblock %}
{% block box-right %}
    <div class="box-right">
        {% for artical in artical_curpage.object_list %}
            <div class="boxs">
                <div class="title">
                    <a href="{% url 'detail' artical.subtitle %}">{{ artical.title }}</a>
                </div>
                <div class="info">
                    <span><span class="glyphicon glyphicon-folder-close"></span> 日期 </span><span>{{ artical.createtime|date:'Y-m-d' }}</span> &nbsp;&nbsp;| &nbsp;&nbsp;<span class="glyphicon glyphicon-bookmark"></span> 标签 <a href="{% url 'tag_articals' artical.tag %}">{{ artical.tag }}</a> &nbsp;&nbsp;| &nbsp;&nbsp;<span class="glyphicon glyphicon-comment"></span> 评论
{#                    <span class="disqus-comment-count" data-disqus-url="http://yasina.me/detail/{{artical.title | urlchange}}"></span>#}
                </div>
                <div class="pic">
                    <img style="width: 600px;height: 400px;margin: auto" src="{{ artical.image.url }}">
                </div>
                <div class="markdown">
                    {{ artical.content|djangomarkdown|safe|truncatechars_html:'200' }}
                </div>
                <br/>
                <button class="btn btn-default" style="border: 2px solid #666;margin: auto;display: block;" onclick="location.href='{% url 'detail' artical.subtitle %}'">阅读全文 &rsaquo;&rsaquo;</button>
                <div style="width: 100px;height: 50px;margin: 0 auto 40px;{% if not forloop.last %}border-bottom: 1px dashed #999;{% endif %}">
                </div>
            </div>
        {% endfor %}
        <hr/>
        <div class="box-right-footer">
            <div class="pagination">
                {% if artical_curpage.has_previous %}
                    <a href="{% url 'page' artical_curpage.previous_page_number %}" class="prev">&lsaquo;&lsaquo;</a>
                {% endif %}
                {% for page in artical_curpage.pages %}
                    {% if page %}
                        {% ifequal page artical_curpage.number %}
                            <span class="current_page">{{ page }}</span>
                        {% else %}
                            <a href="{% url 'page' page %}" class="page">{{ page }}</a>
                        {% endifequal %}
                    {% else %}...{% endif %}
                {% endfor %}
                {% if artical_curpage.has_next %}
                    <a href="{% url 'page' artical_curpage.next_page_number %}" class="next">&rsaquo;&rsaquo;</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}







