{% extends "blog/base.html" %}
{% load djangomarkdown %}
{% block title %}
    <title>标签页 | 追逐繁星的孩子</title>
{% endblock %}
{% block active_tag %}
    active
{% endblock %}
{% block box-right %}
       <div class="box-right">
        <header style="font-family: 宋体;">标签页</header>

            <div class="tags" style="width: 90%;margin: auto;">
                 {% for tag in tags %}
                     {% if tag.tname in tag_more_name %}
                        <a class="a2" href="{% url 'tag_articals' tag.tname %}">{{ tag.tname }}</a>
                     {% else %}
                         <a class="a1" href="{% url 'tag_articals' tag.tname %}">{{ tag.tname }}</a>
                     {% endif %}

                {% endfor %}
        </div>


    </div>
{% endblock %}

