{% extends "blog/base.html" %}
{% load djangomarkdown %}
{% block title %}
    <title>标签页 | 追逐繁星的孩子</title>
{% endblock %}
{% block active_tag %}
    active
{% endblock %}
{% block box-right %}
    <div class="box-right">
        <header class="title">标签页</header>
        <hr/>
        <div class="box-right-tag">
            {% for tag in tags %}
                {% if tag.tname in tag_more_name %}
                    <a class="tag-large" href="{% url 'tag_articals' tag.tname %}">{{ tag.tname }}</a>
                {% else %}
                    <a class="tag-small" href="{% url 'tag_articals' tag.tname %}">{{ tag.tname }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

